<!DOCTYPE html>
<div class="container">
  <div class="row-fluid">
    <iframe class="col-md-10 col-md-offset-1 col-xs-12" style="height: 800px;" src="https://docs.google.com/document/d/1Dk2TZ3On_UDTIR5g9QK-gIFieUtlG83_0eo05Mrb12c/pub?embedded=true"></iframe>
  </div>
</div>