<html>
	<head>
	    <title>vOS + Cardboard</title>
	    <link href="css/bootstrap.min.css" rel="stylesheet">
	    <link href="css/jumbotron.css" rel="stylesheet">
	    <script src="js/jquery-1.11.1.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>
	    <style>
	    	a: {
	    		color: white;
	    	}
	    </style>
	</head>
	<body style="background:#428bca;color:white">
		<div class="container">
			<div class="row col-md-12">
				<h2>
					<a href="http://vos.jit.su/" style="color:white;text-decoration: underline;">vOS</a> + 
					<a href="https://cardboard.withgoogle.com" style="color:white;text-decoration: underline;">Google Cardboard</a> 
					<img width="50" src="http://vr.chromeexperiments.com/images/player/logo.png"/></h2>
			</div>
			<div class="row col-md-12" width="200">
				<h2>
					<div id="vOS-embed" style="background:white;width:300;margin:10" data-cardboard="true"></div>
					<script src="/js/embed.js"></script>
				</h2>
			</div>
			<div class="row col-md-12">
				<br>
				1. Open this page (<a href="http://vos.jit.su/cardboard" style="color:white;text-decoration: underline;">vos.jit.su/cardboard</a>) on an Android smartphone or an iOS 8 device<br>
				2. Download the "<a href="https://play.google.com/store/apps/details?id=vOS.controller" style="color:white;text-decoration: underline;">vOS Controller</a>" app on a different device (tablet or phone)<br>
				3. Register and enter this vOS Pair Code in the controller<br>
				4. Tap on this viewer phone to go full screen.<br>
				5. Put this phone in Cardboard and have fun controlling it remotely!<br>
			</div>
		</div>
	</body>
</html>
