<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico">-->
    <title>vOS</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jumbotron.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=onLoadCallback"></script>
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript">
      var socket = io.connect('/');
      socket.on('code', function(data) {
        if (data.name == 'basic') {
          console.log(data.code);
          $('#code').html('Quick Pair Code: '+ data.code + ' <b class="caret"></b>');
        }
      });
      socket.on('session_id', function(data) {
        if (data.name == 'basic') {
          console.log(data.id);
          window.location = "/enter?session_id=" + data.id;
        }
      });
      socket.emit('declare-type', {type: 'page', name: 'basic'});
/*
      (function() {
          var po = document.createElement('script');
          po.type = 'text/javascript'; po.async = true;
          po.src = 'https://plus.google.com/js/client:plusone.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(po, s);
        })();
*/

/*      function signinCallback(authResult) {
        console.log(authResult);
        if (authResult['status']['signed_in']) {
          // Update the app to reflect a signed in user
          // Hide the sign-in button now that the user is authorized, for example:
          document.getElementById('signinButton').setAttribute('style', 'display: none');

        } else {
          // Update the app to reflect a signed out user
          // Possible error values:
          //   "user_signed_out" - User is signed-out
          //   "access_denied" - User denied access to your app
          //   "immediate_failed" - Could not automatically log in the user
          document.getElementById('signinButton').setAttribute('style', 'display: block');
          //redirect to home if not home;
          <% if (!home) { %>
          window.location = '/logout';
          <% } %>
          console.log('Sign-in state: ' + authResult['error']);
        }
      }
*/
      //Only let people who are logged in use vOS
      //Give userID to apps
      //check if logged into google and if given access to the app.

     function signinCallback(authResult) {
        console.log(authResult);
        if (authResult['status']['signed_in']) {
          if (authResult['g-oauth-window']) {
            console.log('reload');
            window.location.reload();
          } else {
          $.ajax({
              dataType: "json",
              url: '/auth/google/callback',
              data: { 
                result: authResult,  
                id_token: authResult.id_token,
                code: authResult.code,
                access_token: authResult.access_token},
              type:"POST",
              contentType:"application/x-www-form-urlencoded; charset=utf-8",
              crossDomain:true,
              cache : true, 
              success:function(data) {
                  console.log('Signing In');
                  console.log(data);
              },
              error: function(jqXHR, exception, errorstr) {
                  console.log(jqXHR);
                  console.log(exception);
                  console.log(errorstr);
              }
          });
          }/*
          $.post('/auth/google/callback', { 
            result: authResult,  
            id_token: authResult.id_token,
            code: authResult.code,
            access_token: authResult.access_token})
          .done(function(data) {
            console.log('Signing In');
            
          });*/
          $('#signinButton').hide();
          $('#loggedIn').show();
        } else {
          $('#signinButton').show();
          $('#loggedIn').hide();
        }
      }

      /*function test() {
        console.log('testt');
      }*/

      function signout() {
        $.post('/logout', {}).done(function(data) {
          console.log('Logged Out');
          window.location = 'https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=http://gavinovsak-vos.jit.su';
        });
        //gapi.auth.signOut();
      }
    </script>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">vOS</a>
        </div>
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Develop<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/documentation">Documentation</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
              </ul>
            </li>
            <li><a class="active" href="/try">Try It!</a></li>
          </ul>
          <% if (!user) { %>
            <div id="signinButton" class="btn pull-right" onClick="test()">
              <span
                class="g-signin"
                data-callback="signinCallback"
                data-clientid="16685699509-9es3r68f818dgcrgs10ta9dm91ggpfo0.apps.googleusercontent.com"
                data-cookiepolicy="single_host_origin"
                data-apppackagename="vOS.controller"
                data-scope="profile">
              </span>
            </div>
          <% } %>
          <ul class="nav navbar-nav navbar-right" id="loggedIn"  <% if (!user) { %>style="display:none;" <% } %>>
            <li class="dropdown">
              <a class="dropdown-toggle" id="code" data-toggle="dropdown"></a>
              <ul class="dropdown-menu">
                <li><a href="/try">Download App</a></li>
                <li><a onClick="signout()">Logout</a></li>
              </ul>
            </li>
          </ul>
          <form href="/appSearch" method="GET" id="" class="navbar-form navbar-nav navbar-right" role="form">
            <div class="form-group">
              <input type="text" class="form-control">
            </div>
            <button type="search" class="btn btn-success">Search Apps</button>
          </form>
        </div>
      </div>
    </div>
    <%- body %>
    <div class="container">
      <hr>
      <footer>
        <a href="http://www.workbygavin.com">Work By Gavin</a>
      </footer>
    </div>
    <!-- data-requestvisibleactions="http://schemas.google.com/AddActivity" -->
    <!-- Place this asynchronous JavaScript just before your </body> tag -->
    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
  	<!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>