<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico">-->
    <title>vOS</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jumbotron.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=onLoadCallback"></script>
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript">
      var socket = io.connect('/');
      socket.on('code', function(data) {
        if (data.name == 'basic') {
          console.log(data.code);
          $('#code').html('Pair Code: ' + data.code);
        }
      });
      socket.on('session_id', function(data) {
        if (data.name == 'basic') {
          console.log(data.id);
          window.location = "/enter?session_id=" + data.id + "&from=" + encodeURIComponent(window.location.href);
        }
      });
      socket.emit('declare-type', {type: 'page', name: 'basic'});
    </script>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">vOS</a>
        </div>
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Develop<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/documentation">Documentation</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
              </ul>
            </li>
            <li><a class="active" href="/try">Try It!</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a id="code"></a></li>
            <% if (!user) { %>
            <li id="signInButton"><a data-target="#form" data-toggle="modal">Sign In</a></li>
            <% } else { %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">More<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/try">Download App</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/signout">Sign Out</a></li>
              </ul>
            </li>
            <% } %>
          </ul>
          <form action="/appSearch" method="GET" id="" class="navbar-form navbar-nav navbar-right" role="frm">
            <div class="form-group">
              <input type="text" name="query" placeholder="Search Apps" <% if (locals.query != null) { %>value="<%= query %>"<% } %> class="form-control">
            </div>
            <button type="search" class="btn btn-success">Go</button>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="myModalLabel">Please Sign In</h3>
          </div>
          <div class="modal-body">
            <form role="form" id="signinform" method="post">
              <fieldset>
                <div class="form-group" id="nameField"  style="display:none;">
                  <input type="text" name="name" class="form-control input-lg" placeholder="Full Name">
                </div>
                <div class="form-group" id="email">
                  <input type="email" name="email" class="form-control input-lg" placeholder="Email Address">
                </div>
                <div class="form-group" id="password">
                  <input type="password" name="password" class="form-control input-lg" placeholder="Password">
                </div>
                <span class="button-checkbox" id='loginsettings'>
                  <button type="button" class="btn" data-color="info">Remember Me</button>
                  <input type="checkbox" name="remember_me" id="remember_me" checked="checked" style="display:none;">
                  <a id="forgot" class="btn btn-link pull-right">Forgot Password?</a>
                </span>
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" aria-hidden="true" id="change">Go to Registration</button>
            <input class="btn btn-primary" aria-hidden="true" type="submit" name="submit" value="Submit" id="submit">
          </div>
        </div>
      </div>
    </div>
    <%- body %>
    <div class="container">
      <hr>
      <footer>
        <a href="http://www.workbygavin.com">Work By Gavin</a>
      </footer>
    </div>
    <script type="text/javascript">
    $(function(){
        var isRegistering = false;
        $('#change').click(function() {
          if(isRegistering) {
            $('#myModalLabel').text('Please Sign In');
            $('#nameField').hide();
            $('#loginsettings').show();
            $(this).text('Go to Registration');
          } else {
            $('#myModalLabel').text('Please Register');
            $('#nameField').show();
            $('#loginsettings').hide();
            $(this).text('Go to Sign In');
          }
          isRegistering = !isRegistering;
        });

        $('#submit').click(function() {
          //Check if fields are valid
          $('#form').modal('hide');
          if(isRegistering) {
            $('#signinform').attr('action','/registerAndSignIn');
          } else {
            $('#signinform').attr('action','/signin');
          }
          $('#signinform').submit();
        });

        $('.button-checkbox').each(function(){
        var $widget = $(this),
          $button = $widget.find('button'),
          $checkbox = $widget.find('input:checkbox'),
          color = $button.data('color'),
          settings = {
              on: {
                icon: 'glyphicon glyphicon-check'
              },
              off: {
                icon: 'glyphicon glyphicon-unchecked'
              }
          };

        $button.on('click', function () {
          $checkbox.prop('checked', !$checkbox.is(':checked'));
          $checkbox.triggerHandler('change');
          updateDisplay();
        });

        $checkbox.on('change', function () {
          updateDisplay();
        });

        function updateDisplay() {
          var isChecked = $checkbox.is(':checked');
          // Set the button's state
          $button.data('state', (isChecked) ? "on" : "off");

          // Set the button's icon
          $button.find('.state-icon')
            .removeClass()
            .addClass('state-icon ' + settings[$button.data('state')].icon);

          // Update the button's color
          if (isChecked) {
            $button
              .removeClass('btn-default')
              .addClass('btn-' + color + ' active');
          }
          else
          {
            $button
              .removeClass('btn-' + color + ' active')
              .addClass('btn-default');
          }
        }
        function init() {
          updateDisplay();
          // Inject the icon if applicable
          if ($button.find('.state-icon').length == 0) {
            $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
          }
        }
        init();
      });
    });
    </script>
  </body>
</html>