<html>
	<head>
	    <title>vOS Demo</title>
	    <link href="css/bootstrap.min.css" rel="stylesheet">
	    <link href="css/jumbotron.css" rel="stylesheet">
	    <script src="js/jquery-1.11.1.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>
	    <style>
	    	a: {
	    		color: white;
	    	}
	    </style>
	</head>
	<body style="background:#428bca;color:white">
		<div class="container">
			<div class="row col-md-12">
				<h2>
					Try <a href="http://vos.jit.su/" style="color:white;text-decoration: underline;">vOS</a> now, the web platform for virtual reality apps!
				</h2>
			</div>
			<div class="row col-md-12" width="200">
				<h2>
					<div id="vOS-embed" style="background:white;width:300;margin:10"></div>
					<script src="/js/embed.js"></script>
				</h2>
			</div>
			<br>
			<div class="row col-md-12">
				<br>
				1. Download the "<a href="https://play.google.com/store/apps/details?id=vOS.controller" style="color:white;text-decoration: underline;">vOS Controller</a>" app on a different device (tablet or phone)<br>
				2. Register and enter this vOS Pair Code in the controller<br>
				3. Use your phone as a remote control for this screen (2D Demo)<br>
				<br>
				Visit <a href="http://vos.jit.su/" style="color:white;text-decoration: underline;">http://vos.jit.su</a> to learn how to experience these apps with an Oculus Rift or Google Cardboard.
			</div>
		</div>
	</body>
</html>
