<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico">-->
    <title>vOS</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jumbotron.css" rel="stylesheet">
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">vOS</a>
        </div>
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/develop">Develop</a></li>
            <li><a class="active" href="/try">Try It!</a></li>
          </ul>
          <form class="navbar-form navbar-nav navbar-right" role="form">
            <div class="form-group">
              <input type="text" class="form-control">
            </div>
            <button type="search" class="btn btn-success">Search Apps</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
  	  <div class="row">
  	  	<h2>Try Out vOS:</h2>
        <a href="/latestAPK">Download Android APK</a>
        <h3>For Oculus Integration (Optional)</h3>
        <a href="https://github.com/Instrument/oculus-bridge">Download Oculus Bridge</a>
  	  </div>
      <hr>
      <footer>
        <a href="www.workbygavin.com">Work By Gavin</a>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery-1.8.2.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
  </body>
</html>